<p>
  <strong>Category:</strong>
  <% if @listing.category %>
    <%= link_to @listing.category.name, @listing.category %>
  <% else %>
    none
  <% end %>
</p>
<p>
  <strong>Brand:</strong>
  <% if @listing.subcategory %>
    <%= link_to @listing.subcategory.name, @listing.subcategory %>
  <% else %>
    none
  <% end %>
</p>
<p>
  <strong>User:</strong>
  <%= link_to @listing.user.name, @listing.user %>
</p>
<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<% if @listing.price %>
  <p>
    <strong>Price:</strong>
    <%= number_to_currency(@listing.price) %>
  </p>
<% end %>
<%= image_tag @listing.picture.url if @listing.picture? %>
<% if current_user?(@listing.user) %>
<%= link_to 'Edit', edit_listing_path(@listing), class: 'btn btn-default' %>
<%= link_to 'Delete', @listing, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end %>
