<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.company.titleize %>
      </h1>
      <p>
        Tel: <%= number_to_phone @user.telephone %>
      </p>
      <p>
        <%= @user.website %>
      </p>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="user_info">
      <%= @user.description %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.listings.any? %>
      <h3>Listings (<%= @user.listings.count %>)</h3>
      <ol class="microposts">
        <%= render @listings %>
      </ol>
      <%= will_paginate @listings %>
    <% end %>
  </div>
</div>
<!--
    <section class="micropost_form">
      <%= render 'shared/micropost_form' %>
      <% if @user.listings.any? %>
      <h3>Listings (<%= @user.listings.count %>)</h3>
      <ol class="microposts">
        <%= render @listings %>
      </ol>
      <%= will_paginate @listings %>
    <% end %>
    </section>
 -->
